.navbar {
  background-image: linear-gradient(to bottom, #272727 0%, transparent 100%);
  font-size: 1.5rem;
}

.center-navbar {
  width: 30%;
  margin-left: 80%;
}
a.navbar-brand {
  font-size: 1.5rem;
}
